body {
  background-color: #f9f9f9;
  font-family: Helvetica, Arial, sans-serif;
}

#invoice-container {
  border: 1px solid #ccc;
  padding: 20px;
  width: min(60%, 720px);
  margin: 24px auto;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
}

.error {
  color: #b00020;
  text-align: center;
}

